<h2 id="title">ember-filepond</h2>

<p>Base</p>
<code>
  <pre>
    \{{file-picker}}
  </pre>
</code>
{{file-picker}}

<p>One Plugin and Options</p>
<code>
  <pre>
    \{{file-picker
        plugins=FilePondImagePreview
        name="my-filepond-uploader-1"}}
  </pre>
</code>
{{file-picker
    plugins=FilePondImagePreview}}

<p>Many Plugins and Options</p>
<code>
  <pre>
    \{{file-picker
        name="my-filepond-uploader-2"
        accept="image/png"
        labelIdle='Drag & Drop your photo or <span class="filepond--label-action"> Browse </span>'
        imagePreviewHeight=170
        imageCropAspectRatio="1:1"
        imageResizeTargetWidth=200
        imageResizeTargetHeight=200
        allowMultiple=true
        allowRevert=true
        maxFiles=3
        server="http://localhost:3000/upload"
        instantUpload=false
        oninit=(action "oninit")
        plugins=(array
          FilePondImagePreview
          FilePondImageTransform
          FilePondImageCrop
          FilePondImageResize
          FilepondPluginFileValidateType
        )}}
  </pre>
</code>
{{file-picker
    name="my-filepond-uploader"
    accept="image/png"
    labelIdle='Drag & Drop your photo or <span class="filepond--label-action"> Browse </span>'
    imagePreviewHeight=170
    imageCropAspectRatio="1:1"
    imageResizeTargetWidth=200
    imageResizeTargetHeight=200
    allowMultiple=true
    allowRevert=true
    maxFiles=3
    server="http://localhost:3000/upload"
    instantUpload=false
    oninit=(action "oninit")
    plugins=(array
      FilePondImagePreview
      FilePondImageTransform
      FilePondImageCrop
      FilePondImageResize
      FilepondPluginFileValidateType
    )}}